@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Prompt", sans-serif;
}

.container-center {
    /* min-height: 100vh; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-wrapper-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

.flex-wrapper-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
}

.emoji-animated {
    transition: 0.3s;
}

.emoji-animated:hover {
    opacity: 1;
    rotate: 30deg;
}

.divide {
    width: 50%;
    height: 5px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    /* ref -> https://cssgradient.io/ */
    background: rgb(255, 126, 0);
    background: linear-gradient(
        90deg,
        rgba(255, 126, 0, 1) 0%,
        rgba(255, 203, 0, 1) 100%
    );
}

.btn {
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    border: #18181b 2px solid;
    background-color: white;

    color: #18181b;
    text-decoration: none;
}

.btn:hover {
    background-color: #e0e0e0;
}

.rocket-icon {
    width: 12rem;
    height: 12rem;
    margin-right: 0.5rem;
    cursor: pointer;

    position: relative;
}

.rocket-icon:hover {
    animation: shake 0.1s infinite;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-5px, -5px);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(5px, -5px);
    }
    100% {
        transform: translate(0, 0);
    }
}
